.main-footer {
  display: flex;
  width: 100%;
}

.iconos-sociales {
  width: 100%;
  margin: 30px 0 40px 0;
  color: RGB(46, 139, 87);
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: rgba(234, 250, 241, 0.43);
}

.iconos-sociales a{
  color: RGB(46, 139, 87);
  font-size: 25px;
  margin: 10px 15px 0 15px;
}

.iconos-sociales a i:hover{
  color: RGB(233, 247, 239);
  background-color: rgb(125, 206, 160);
}

@media (min-width:768px) {
  .iconos-sociales a {
    margin: 0 0 0 15px;
  }
