@import "https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans|Open+Sans|Ubuntu&display=swap";

* {
  box-sizing: border-box;
  font-family: 'Open Sans', 'Montserrat', 'Noto Sans', 'Ubuntu', sans-serif;
}

body {
      background-image: url("../img/rectangular1.jpg");
      display: flex;
}

	.contenedor {
		border: 2px solid blue;
		margin:0 auto;
		display: flex;
		max-width: 1200px;
	}

	p {
	  font-size: 12px;
	  margin-left: 10px;
		 color: RGB(46, 139, 87);
	}

  a {
    list-style: none;
    text-decoration: none;
    align-items: center;
    color: RGB(0, 128, 0);
  }

  ul li a {
    text-decoration: none;
    color: RGB(46, 139, 87);
    font-weight: bold;
  }

  ul {
  	list-style: none;
  	margin: 0;
  	padding: 0;
  	}

	.slogan, .formulario {
	   font-size: 15px;
	 color: RGB(46, 139, 87);
	}

		.cabecera {
		  width: 100%;
		  display: inline-flex;
		  justify-content: center;
		  align-items: center;
		  flex-direction:row;
		  flex-wrap: wrap;
		  margin-top: 15px;
		  color: RGB(46, 139, 87);
			background-color: rgba(234, 250, 241, 0.43);
			border: 2px red solid;
		        }

	.nav-login {
	display: inline-flex;
	width: 100%;
	justify-content: flex-end;
	text-align: center;
	font-size: 16px;
	margin-top: 15px;
	padding: 5px;
					}

	.nav-login ul li:hover{
	color: RGB(233, 247, 239);
	background-color: rgb(125, 206, 160);
	text-decoration: none;
					}

	.nav-login ul {
	display: inline-flex;
		}

	.nav-login ul li a, .main-nav ul li a{
	font-size:14px;
	}

	.nav-login ul li{
	padding: 5px;
	justify-content: center;
		margin-right: 10px;
	border-radius: 10%;
		 }

	.main-nav ul li {
	width: 100%;
	display: inline-flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	text-align: center;
		}

		.main-nav ul li a:hover{
	background-color: rgb(125, 206, 160);
	text-decoration: none;
  color: RGB(233, 247, 239);
			}

.formulario{
  margin: 20px auto 20px;
	border: 2px orange solid;
 }

h1{
  font-size: 24px;
  text-align: center;
  margin-right: 100px;
	color: RGB(46, 139, 87);
}

input{
  margin-top: 5px;
  margin-bottom: 20px;
}

.uno{
  width: 70%;
}

label{
  font-weight: bold;
}

.pais, .genero{
  font-size: 20px;
}

.registro{
	background-color: rgb(0, 209, 255);
	font-weight: bold;
}

.cancelar{
	background-color: red;
	color: white;
	}

	.email, .pass{
  width: 70%;
}

  .Recordarme{
    margin-left: 250px;
}

p{
  color: red;
}

h1{
  margin-left: 120px;
  }

	.Boton{
		background-color: RGB(46, 139, 87);
		font-weight: bold;
		padding: 7px;
			margin-top: 10px;
	margin-bottom: 20px;
	color: white;
	}

	h4 {
	    border:solid 5px orange;
	    display:flex;
	    justify-content: center;
	    padding: 5px;
	    margin: 0 auto;
	    color: #db0080;
	    font-size: 30px;
}

.logo {
  border-radius: 100%;
  display: flex;
  margin: 10px auto 10px;
  padding: 10px;
  background-color: rgba(234, 250, 241, 0.43);
  width:200px;
  height:200px;
  justify-content: center;
  margin: 20px auto 20px;
}

.main-footer {
display: flex;
width: 100%;
justify-content: flex-end;
font-size: 14px;
margin-top: 30px;
margin-bottom: 40px;
				}

.iconos-sociales {
	border: 2px green solid;
width: 100%;
font-size: 20px;
color: RGB(46, 139, 87);
display: flex;
align-items: center;
margin-right: 15px;
padding: 5px;
background-color: rgba(234, 250, 241, 0.43);
			}

.iconos-sociales p {
	font-size: 22px;
	display: flex;
	width: 100%;
	justify-content: flex-end;
}

	.redes-sociales a, .redes{
	color: RGB(46, 139, 87);
	font-size: 25px;
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	margin-left: 15px;
	flex-direction: row;
				}

	.iconos-sociales a i:hover{
	color: RGB(233, 247, 239);
	background-color: rgb(125, 206, 160);
	border-radius: 20%;
	font-size: 30px;
	}

  .slogan {
  display: flex;
    justify-content: center;
    font-size: 10px;
    width: 100%;
 	}

.containerLogo {
	border: 2px solid violet;
}

	@media (min-width: 768px) {
		.contenedor {
			max-width: 80%;
						}
	}

	@media (min-width: 1024px) {
		.contenedor {
			max-width: 80%;
						}
	}
